﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
	<title></title>
</head>
<body>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-push-3">
					<h1>
						{{resume.basics.name}}
					</h1>
					<h2>
						{{resume.basics.label}}
					</h2>
				</div>
			</div>
		</div>
	</header>

	<div id="content" class="container">
		<section id="contact" class="row">
			<aside class="col-sm-3">
				<h3>Contact</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						<strong>Email</strong>
						<div class="email">
							<a href="#">{{resume.basics.email}}</a>
						</div>
					</div>
					<div class="col-sm-6">
						<strong>Phone</strong>
						<div class="phone">{{resume.basics.phone}}</div>
					</div>
					<div class="col-sm-6">
						<strong>Website</strong>
						<div class="website">
							<a href="#">{{resume.basics.website}}</a>
						</div>
					</div>
					<div class="col-sm-6">
						<strong>Address</strong>
						<div class="">{{resume.basics.location.address}}</div>
						<div class="">{{resume.basics.location.postalCode}}</div>
						<div class="">{{resume.basics.location.city}}</div>
						<div class="">{{resume.basics.location.countryCode}}</div>
						<div class="">{{resume.basics.location.region}}</div>
					</div>
				</div>
			</div>
		</section>
		<section id="about" class="row">
			<aside class="col-sm-3">
				<h3>About</h3>
			</aside>
			<div class="col-sm-9">
				<p>{{resume.basics.summary}}</p>
			</div>
		</section>
		<section id="profiles" class="row">
			<aside class="col-sm-3">
				<h3>Profiles</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6" ng-repeat="profile in resume.basics.profiles">
						<strong class="network">
							{{profile.network}}
						</strong>
						<div class="username">
							<div class="url">
								<a ng-href="{{profile.url}}">{{profile.username}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="work" class="row">
			<aside class="col-sm-3">
				<h3>Work</h3>
			</aside>
			<div class="col-sm-9" ng-repeat="work in resume.work">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="strike-through">
							<span>{{work.company}}</span>
							<span class="date">
								{{work.startDate}} — {{work.endDate}}
							</span>
						</h4>
						<div class="website pull-right">
							<a ng-href="{{work.website}}">{{work.website}}</a>
						</div>
						<div class="position">
							{{work.position}}
						</div>
						<div class="summary">
							<p>{{work.summary}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="projects" class="row">
			<aside class="col-sm-3">
				<h3>Projects</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12" ng-repeat="project in resume.projects">
						<h4 class="strike-through">
							<span>{{project.name}}</span>
							<span class="date">
								{{project.duration}}
							</span>
						</h4>
						<div class="position">
							{{project.company}}
						</div>
						<div class="summary">
							<p>{{project.summary}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="education" class="row">
			<aside class="col-sm-3">
				<h3>Education</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12" ng-repeat="education in resume.education">
						<h4 class="strike-through">
							<span>{{education.institution}}</span>
							<span class="date">
								{{education.startDate}} — {{education.endDate}}
							</span>
						</h4>
						<div class="area">
							{{education.area}}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="awards" class="row">
			<aside class="col-sm-3">
				<h3>Awards</h3>
			</aside>
			<div class="col-sm-9" ng-repeat="award in resume.awards">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="strike-through">
							<span>{{award.title}}</span>
						</h4>
						<div class="awarder">
							<em>by</em>
							<strong>{{award.awarder}}</strong>
						</div>
						<div class="summary">
							{{award.summary}}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="skills" class="row">
			<aside class="col-sm-3">
				<h3>Skills</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6" ng-repeat="skill in resume.skills">
						<div class="name">
							<h4>{{skill.name}}</h4>
						</div>
						<ul class="keywords" ng-repeat="keyword in skill.keywords">
							<li>{{keyword}}</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="languages" class="row">
			<aside class="col-sm-3">
				<h3>Languages</h3>
			</aside>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6" ng-repeat="language in resume.languages">
						<div class="language">
							<strong>{{language.language}}</strong>
						</div>
						<div class="fluency">
							{{language.fluency}}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="interests" class="row">
			<aside class="col-sm-3">
				<h3>Interests</h3>
			</aside>
			<div class="col-sm-9" ng-repeat="interest in resume.interests">
				<div class="row">
					<div class="col-sm-6">
						<div class="name">
							<h4>{{interest.name}}</h4>
						</div>
						<ul class="keywords" ng-repeat="keyword in interest.keywords">
							<li>{{keyword}}</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
