﻿<!DOCTYPE html>
<html ng-app="resumeGenerator">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JSON Parser</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/Scripts/jquery-1.9.0.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/Site/resumeGenerator.js"></script>
</head>
<body ng-controller="resumeConverter">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				@Html.ActionLink("JsonParser", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
		</div>
	</div>

	<div class="container body-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>
						Json Resume Converter
					</h1>
					<p>
						Json Resume Converter is demo application that parse json resume already available over server and displays it in HTML page.
					</p>
					<p>
						<button id="GetResume" class="pull-right btn btn-lg btn-primary" ng-click="getResume();" value="Get Resume">Get Resume</button>
					</p>
				</div>
			</div>
		</div>
		<br />
		<div ng-include="resumePage"></div>
		<hr />
	</div>
</body>
</html>